
/* NAV CSS */
.header--name {
    font-size: 0.9em;
    color: #fff;
}

.nav--background {
    background-color: #955251;
}
/* END NAV CSS */


/* MAIN CSS */
.l--nv {
    width: 200px;
    border-radius: 1rem;
}

.col--whole {
  display: flex;
  justify-content: center;

}

.col--1 {
    display: flex;
   
}

.loc--name {
    font-size: 1.2rem;
    font-weight: 400;
}


.google--map, a {
    font-size: 1rem;
    color: #827f7f 
    
}
/* END MAIN CSS */