
/* NAV CSS */
.header--name {
    font-size: 0.9em;
    color: #fff;
}

.nav--background {
    background-color: #955251;
}
/* END NAV CSS */


/* MAIN CSS */
.l--nv {
    width: 200px;
    border-radius: 1rem;
}

.col--whole {
  display: flex;
  justify-content: center;

}

.col--1 {
    display: flex;
    
}

/* END MAIN CSS */