body {
    font-family: 'Fascinate';
    font-family: 'Inter', sans-serif;
}

/* NAV CSS */
.header--name {
    font-size: 0.9em;
    color: #fff;
}

.nav--background {
    background-color: #955251;
}
/* END NAV CSS */


/* MAIN CSS */
.pic--loc {
    width: 200px;
    border-radius: 1rem;
 
    
}


.pic--loc:hover {
    -webkit-filter: blur(1px); 
    filter: blur(1px);
}


    

.loc--name {
    font-size: 1.2rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    
}


.google--map, a {
    font-size: 1rem;
    color: #827f7f;
    text-decoration: none; 
    
}
/* END MAIN CSS */




/* MEDIA QUERIES */

@media screen and (min-width: 768px) {
    
    .col--whole {
        width: 80%;
        
    }
    
    .col--1 {
        display: flex;
    }

    .loc--name {
        display: block;
    }

    .card--info {
        display: flex;
        flex-direction: column;
        
    }

    .desc {
        width: 85%;
        margin: 0 auto;
        text-align: left;
        
    }

    
  }


  @media screen and (min-width: 1440px) {
    
    .desc {
        width: 65%;
        margin: 0 auto;
    }
    
  }

  @media screen and (min-width: 820px) {
    
    .desc {
        width: 85%;
        margin: 0 auto;
        text-align: left;
    }
    
  }